extends ./common/layout.jade

mixin generateDropDownList(label, name, array)
    center
        label= label
        select(name=name, id=name)
            each val in array
                option= val

mixin addResult(movie)
    td 
        a(role='button', href='/details/#{movie.id}')= movie.title
    td= movie.genre
    td #{movie.length} min
    td= movie.imdb
    td= movie.rottenTomatoes

mixin movieCard(movie, showing, theater)
    a(href=movie.url)
        h2= movie.title
    ul #{movie.rating}, #{movie.length} min 
    img(src=movie.img)
    if(showing)
        h2 Location
            h4 Theater
            ul= theater.theater
            h4 Address
            ul= theater.address
            h4 Price
            ul= showing.price
            h4 Times 
            each time in showing.times
                ul= time
    else
        h2 Unfortunately, there are no current showings for #{movie.title} near your location.
    h2 Details
        h4 Ratings 
        ul Rotten Tomatoes: #{movie.rottenTomatoes}
        ul IMDb: #{movie.imdb}
        h4 Actors 
        each actor in movie.cast
            ul= actor
        h4 Director 
        ul= movie.director

mixin button(link, message)
    div
        a(href=link)
            button(type='button')= message       


