extends ./common/layout.jade

mixin generateDropDownList(label, name, array)
    .col-6
        label= label
        select.custom-select(name=name, id=name)
            each val in array
                option= val

mixin addMovieModal()
    #movieModal.modal.fade(role='dialog')
        .modal-dialog(role='document', class='modal-dialog modal-lg')
            .modal-content
                .modal-header.pb-2.pt-3
                    #title.h3.m-0
                    button.close(data-dismiss='modal', aria-label='Close')
                        span &times;
                .modal-body.pb-3.pt-2
                    h4.m-0 Genres       
                    #genres.pl-4
                    h4.m-0 Cast
                    #cast.pl-4
                    h4.m-0 Directed By
                    #directors.pl-4
                    h4.m-0 Synopsis 
                    #synopsis.pl-4

mixin addTheaterModal()
    #theaterModal.modal.fade(role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.pb-2.pt-3
                    #name.h3.m-0
                    button.close(data-dismiss='modal', aria-label='Close')
                        span &times;
                .modal-body.pb-3.pt-2
                    h4.m-0 Date
                    #date.pl-4
                    h4.m-0 Address 
                    #street.pl-4
                    #otherAddrInfo.pl-4
                    h4 Times
                    #times.pl-4.row

mixin addResult(data)
    //- will display imdb score once imdb web scraper is implemented
    .row
        .col
            a.h2.font-weight-bold.m-0(data-toggle='modal', data-target='#movieModal', href='#', data-movie=data.movie.movieJson)= data.movie.title
            +addMovieModal()
    .row.align-items-center.mb-4
        .col-3
            if(data.movie.rating)
                .font-italic Rating: #{data.movie.rating} 
            if(data.movie.length)
                .font-italic Runtime: #{data.movie.length} min
            if(data.movie.rottenTomatoes)
                .font-italic Rotten Tomatoes: #{data.movie.rottenTomatoes}%
            if(data.movie.img)       
                img.w-75(src=data.movie.img)
        each theaterShowing in data.theaterShowings
            .col
                button.btn.btn-info(data-toggle='modal', data-target='#theaterModal', data-showing=theaterShowing.showingJson)= theaterShowing.name
                +addTheaterModal()
                
mixin button(link, message)
    a(href=link)
        button.btn.btn-primary.float-right(type='button')= message

mixin navbar(title)
    .navbar.navbar-light.bg-dark
        .container
            h1.text-white.mt-2= title
            block
