extends ./common/layout.jade

mixin generateDropDownList(label, name, array)
    .col-6
        label= label
        select.custom-select(name=name, id=name)
            each val in array
                option= val

mixin addResult(data)
    //- will display imdb score once imdb web scraper is implemented
    .row
        .col
            h2.font-weight-bold.m-0= data.movie.title
    .row.align-items-center.mb-4
        .col-3
            if(data.movie.rating)
                .font-italic Rating: #{data.movie.rating} 
            if(data.movie.length)
                .font-italic Runtime: #{data.movie.length} min
            if(data.movie.rottenTomatoes)
                .font-italic Rotten Tomatoes: #{data.movie.rottenTomatoes}%
            if(data.movie.img)       
                img.w-75(src=data.movie.img)
        each theaterShowing in data.theaterShowings
            .col
                a.h4.font-weight-bold(role='button', href='/details/#{data.movie.id}/#{theaterShowing.date}/#{theaterShowing.id}')= theaterShowing.name
                h5= theaterShowing.date
                each time in theaterShowing.times
                    a.d-inline.p-2.bg-success.text-white.rounded-pill.mr-2(role='button', href=theaterShowing.showingUrl)= time

mixin movieCard(movie, theaterShowing)
    //- will display imdb score once imdb web scraper is implemented
    .row
        .col
            h2.font-weight-bold.mb-0= movie.title
            if(movie.rating)
                .font-italic Rating: #{movie.rating} 
            if(movie.length)
                .font-italic Runtime: #{movie.length} min
    .row 
        .col-4
            if(movie.img)
                img(src=movie.img)
        .col-3
            h4.m-0 Ratings
            if(movie.rottenTomatoes)
                .pl-4
                    a(href=movie.RT_url) Rotten Tomatoes: #{movie.rottenTomatoes}%
            h4.m-0 Genres
            each genre in movie.genres
                .pl-4= genre            
            h4.m-0 Cast
            each actor in movie.cast
                .pl-4= actor
            h4.m-0 Directed By
            each director in movie.directors 
                .pl-4= director
        .col
            if(theaterShowing)
                h4.m-0 Theater 
                .pl-4= theaterShowing.name
                h4.m-0 Date
                .pl-4= theaterShowing.date
                h4.m-0 Address 
                .pl-4= theaterShowing.street
                .pl-4 #{theaterShowing.city}, #{theaterShowing.state} #{theaterShowing.zipCode}
                h4 Times
                .pl-4
                    each time in theaterShowing.times
                        a.d-inline.p-2.bg-success.text-white.rounded-pill.mr-2(role='button', href=theaterShowing.showingUrl)= time
            else
                h4 Unfortunately, there are no current showings for #{showing.title} near your location.
    .row
        .col.mt-3
            if(movie.synopsis)
                .p= movie.synopsis
                
mixin button(link, message)
    a(href=link)
        button.btn.btn-primary.float-right(type='button')= message

mixin navbar(title)
    .navbar.navbar-light.bg-dark
        .container
            h1.text-white.mt-2= title
            block
